body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.donate-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.donate-btn:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

form input, form select, form button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: #0069d9;
    transform: translateY(-2px);
}

#thankYouMessage {
    margin-top: 20px;
}

#thankYouMessage h2 {
    margin-bottom: 20px;
}
#btn{
    background-color: #60a9f8;
    color: white;
    border-radius: 3px;
    width: 90px;
    height: 30px;
    line-height: 10px;
    border: 1px #007bff solid ;
    position: relative;
    
}
#btn:hover{
    background-color: #fff;
    color: black;
}
#cong {
    font-size: 3em;
    font-weight: bold;
    color: #007bff;
    position: relative;
    animation: moveText 5s linear infinite;
}

@keyframes moveText {
    0% {
        left: -100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -100%;
    }}